
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Usuwanie Użytkownika</h1>
<hr />

<h4>Użytkowik został usunięty</h4>
<a asp-controller="Home" asp-action="Index" class="btn btn-secondary">wyjscie</a>
