@model makeITconvenient.Models.PersonDto
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Informacje Dodatkowe</h1>
<hr />

<ul class="tabs">
    <li class="tab" onclick="showTab('tab1')">Dane personalne</li>
    <li class="tab" onclick="showTab('tab2')">dane kontaktowe </li>
    <li class="tab" onclick="showTab('tab3')">Adres</li>
</ul>
<div class="row">
    <div>
             <div id="tab1" class="tab-content active">
                    <div class="form-group">
                        <label asp-for="FirstName" class="control-label"></label>
                        <input asp-for="FirstName" class="form-control" disabled />
                    </div>
                    <div class="form-group">
                        <label asp-for="LastName" class="control-label"></label>
                        <input asp-for="LastName" class="form-control" disabled/>
                    </div>
                    <div class="form-group">
                        <label asp-for="Sex" class="control-label"></label>
                        <input asp-for="Sex" class="form-control" disabled />
                    </div>
             </div>
            <div id="tab2" class="tab-content">
                
                    <div class="form-group">
                        <label asp-for="ContactDetails.Email" class="control-label"></label>
                        <input asp-for="ContactDetails.Email" class="form-control" disabled />
                        <span asp-validation-for="ContactDetails.Email" class=" text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ContactDetails.PhoneNumber" class="control-label"></label>
                        <input asp-for="ContactDetails.PhoneNumber" class="form-control" disabled />
                        <span asp-validation-for="ContactDetails.PhoneNumber" class=" text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ContactDetails.Website" class="control-label"></label>
                        <input asp-for="ContactDetails.Website" class="form-control" disabled />
                        <span asp-validation-for="ContactDetails.Website" class=" text-danger"></span>
                    </div>
            </div>
            <div id="tab3" class="tab-content">
               
                    <div id="resident-adr-fld" class="AddressBox">
                    <div>
                        <label class="control-label">Adres Zamieszkania</label>
                        <input type="hidden" id="Address0" asp-for="AddressList[0].AddressName" class="form-control" disabled />
                    </div>
                    <div>
                        <label asp-for="AddressList[0].Country" class="control-label"></label>
                        <input asp-for="AddressList[0].Country" class="form-control" disabled />
                        <span asp-validation-for="AddressList[0].Country" class=" text-danger"></span>
                    </div>
                    <div>
                        <label asp-for="AddressList[0].PostalCode" class="control-label"></label>
                        <input asp-for="AddressList[0].PostalCode" class="form-control" disabled />
                        <span asp-validation-for="AddressList[0].PostalCode" class=" text-danger"></span>
                    </div>
                    <div>
                        <label asp-for="AddressList[0].City" class="control-label"></label>
                        <input asp-for="AddressList[0].City" class="form-control" disabled />
                        <span asp-validation-for="AddressList[0].City" class=" text-danger"></span>
                    </div>
                    <div>
                        <label asp-for="AddressList[0].Street" class="control-label"></label>
                        <input asp-for="AddressList[0].Street" class="form-control" disabled />
                        <span asp-validation-for="AddressList[0].Street" class=" text-danger"></span>
                    </div>
                    <div>
                        <label asp-for="AddressList[0].HouseNumber" class="control-label"></label>
                        <input asp-for="AddressList[0].HouseNumber" class="form-control" disabled />
                        <span asp-validation-for="AddressList[0].HouseNumber" class=" text-danger"></span>
                    </div>
                    <div>
                        <label asp-for="AddressList[0].ApartmentNumber" class="control-label"></label>
                        <input asp-for="AddressList[0].ApartmentNumber" class="form-control" disabled />
                        <span asp-validation-for="AddressList[0].ApartmentNumber" class=" text-danger"></span>
                    </div>

                
              
            

             </div>
                <div id="mailing-adr-fld" class="AddressBox">
               
                    <div>
                        <label class="control-label">Adres do korespondencji</label>
                        <input type="hidden" id="Address1" asp-for="AddressList[1].AddressName" class="form-control" disabled />
                    </div>
                    <div>
                        <label asp-for="AddressList[1].Country" class="control-label"></label>
                        <input asp-for="AddressList[1].Country" class="form-control" disabled />
                        <span asp-validation-for="AddressList[1].Country" class=" text-danger"></span>
                    </div>
                    <div>
                        <label asp-for="AddressList[1].PostalCode" class="control-label"></label>
                        <input asp-for="AddressList[1].PostalCode" class="form-control" disabled />
                        <span asp-validation-for="AddressList[1].PostalCode" class=" text-danger"></span>
                    </div>
                    <div>
                        <label asp-for="AddressList[1].City" class="control-label"></label>
                        <input asp-for="AddressList[1].City" class="form-control" disabled />
                        <span asp-validation-for="AddressList[1].City" class=" text-danger"></span>
                    </div>
                    <div>
                        <label asp-for="AddressList[1].Street" class="control-label"></label>
                        <input asp-for="AddressList[1].Street" class="form-control" disabled />
                        <span asp-validation-for="AddressList[1].Street" class=" text-danger"></span>
                    </div>
                    <div>
                        <label asp-for="AddressList[1].HouseNumber" class="control-label"></label>
                        <input asp-for="AddressList[1].HouseNumber" class="form-control" disabled />
                        <span asp-validation-for="AddressList[1].HouseNumber" class=" text-danger"></span>
                    </div>
                    <div>
                        <label asp-for="AddressList[1].ApartmentNumber" class="control-label"></label>
                        <input asp-for="AddressList[1].ApartmentNumber" class="form-control" disabled />
                        <span asp-validation-for="AddressList[1].ApartmentNumber" class=" text-danger"></span>
                    </div>

                </div>
               

            </div>

            
    </div>
</div>

<div>
    <input type="button" id="cancel-btn" value="wyjscie" class="btn btn-secondary" />

</div>
<script>
    let cancelBtn = document.getElementById("cancel-btn");
    cancelBtn.addEventListener("click", function () {
        window.history.back();
    });
    // obsluga zakładek
    function showTab(tabId) {
        // Ukryj wszystkie zakładki
        var tabs = document.querySelectorAll('.tab-content');
        tabs.forEach(function (tab) {
            tab.classList.remove('active');
        });

        var tabButtons = document.querySelectorAll('.tab');
        tabButtons.forEach(function (button) {
            button.classList.remove('active');
        });

        // Pokaż wybraną zakładkę
        document.getElementById(tabId).classList.add('active');
        document.querySelector('[onclick="showTab(\'' + tabId + '\')"]').classList.add('active');
    }

</script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}




