@model makeITconvenient.Models.LoginViewModel

@{
    ViewData["Title"] = "Strona Startowa - makeITconvenient";
}

<div class="text-center">
    <p>W systemie jest utworzone domyślne konto administratora. </p>
    <p>login: admin@makeITconvenient.com </p>
    <p>hasło: P@ssword01 </p>
    <div class="row">
        <div class="col-md-3">
            <form asp-controller="AccessUser" asp-action="Login" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="form-floating mb-3">
                    <input asp-for="Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Email" class="form-label">Email</label>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form-floating mb-3">
                    <input asp-for="Password" type="password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                    <label asp-for="Password" class="form-label">hasło</label>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="checkbox mb-3">

                    <label class="form-label" asp-for="RememberMe">
                        <input asp-for="RememberMe" class="form-check-input" />
                        Zapamiętaj mnie
                    </label>
                </div>

                <button type="submit" class="btn btn-primary">Zaloguj</button>
            </form>
        </div>
    </div>
    </div>

