
@{
    ViewData["Title"] = "Panel administratora";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Panel Administratora</h1>
<div>
    <a asp-controller="Person" asp-action="AddPerson">dodaj użytkownika</a>
</div>
<div>
    <a asp-controller="Person" asp-action="PersonSearch">wyszukaj użytkownika</a>
</div>
